.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
}

.leftColumn {
  cursor: default;
  width: 230px;
  display: inline-block;
  vertical-align: top;
}

.menu {
  padding: 0 !important;
  width: 230px;
  text-align: center;
  background-color: #1e282c !important;
}

.menu div {
  color: #b8c7ce !important;
  font-size: 14px;
}

.supInfo {
  width: 230px;
  text-align: center;
  background-color: #3c8cbc !important;
  padding: 30px 0;
  color: #b8c7ce !important
}

.content {
  cursor: default;
  width: calc(100% - 270px);
  padding-left: 20px;
  padding-right: 20px;
  /*width: calc(100% - 230px);*/
  display: inline-block;
  vertical-align: top;
  background-color: #ecf0f5 !important;
  padding-bottom: 50px !important;
}

.col {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  min-width: 1px;
}

.aside {
  width: 25%!important;
  margin-left: 5%;
}

.subText {
  font-size: 12px;
  white-space: nowrap;
}

.list {
  padding: 0 !important;
}

.statTabs {
  background-color: #fff !important;
}

.Stats>.col:nth-child(2) {
  width: 60%;
}

.statTabs .list .col:nth-child(2), .statTabs .list .col:nth-child(3) {
  float: right;
  text-align: right;
}

.list>div>span, .genres {
  border-bottom: 1px solid #bbb !important;
  background-color: #fff !important;
  cursor: default !important;
}

.statTabs .list .col:nth-child(2) button {
  margin: -12px 12px !important;
}

.activityList .col:nth-child(2) {
  float: right;
}

.activityList .listItem {
  padding: 5px 0 !important;
  font-size: 14px !important;
  border-bottom: 1px solid #bbb !important;
}

.toolbarButton {
  float: right;
  height: 36px !important;
  color: #f39c12 !important;
  margin-top: 10px !important;
  margin-right: 10px !important;
  background-color: #fff !important;
}

.paper {
  height: 100;
  width: 100;
  margin: 20;
  display: inline-block;
}

.timeTabs {
  width: 60%;
  /*background-color: #fff!important;*/
}

.timeTabs>div:nth-child(1), .timeTabs>div:nth-child(2) {
  width: 50% !important;
}

.timeTabs .col {
  width: 50%;
}

.timeTabs .col>div {
  height: 117px;
  width: 117px;
  margin: 20px;
  display: inline-block;
}

.genreListItem div div {
  padding: 5px 0 !important;
  font-size: 14px;
}

.ghostPaper {
  border: 2px dashed #ccc;
  box-shadow: none !important;
  text-align: center !important;
  color: #999 !important;
  font-size: 14px !important;
  cursor: pointer !important;
  vertical-align: middle;
  height: 117px;
  width: 117px;
}

.ghostPaper .fa {
  color: #999 !important;
}

.ghostPaper button {
  margin: 22px 0 5px 0 !important;
  padding: 0 !important;
  height: auto !important;
  width: 22px !important;
}

tr th:first-child, tr td:first-child {
  display: none;
}

.smallText {
  font-size: 16px;
}

.genreTabs .col:nth-child(2) {
  float: right;
}

.right {
  float: right;
}

.left {
  float: left;
}

.stats .left {
  margin: -6px 12px !important;
  padding: 0px 12px 0 !important;
}

.filterTabs {
  background-color: #fff;
}

.filterTabs .genreInput {
  margin-left: 15px !important;
  display: inline-block !important;
}

.list.songs .col:nth-child(4), .pops .col:nth-child(5) {
  margin-top: 20px;
}

.clickText {
  text-decoration: underline;
  cursor: pointer;
}

.appHeader {
  background-color: #3c8cbc !important;
  color: #fff;
  cursor: default;
}

.appHeader .fa {
  font-size: 12px !important;
}

.sb.pops {
  background-color: #fff !important;
  border-bottom: 1px solid #bbb !important;
  cursor: default !important;
}

.genres>div>div, .artists>div>div, .songs>div>div, .sb.pops>div>div {
  height: 56px;
  padding: 0 !important;
}

.genres .col:nth-child(2), .artists .col:nth-child(2) {
  padding: 20px 12px;
}

.songs .col:nth-child(2), .sb.pops .col:nth-child(3) {
  padding: 12px;
}

.stats.list>div>span>div>div {
  padding: 12px 12px !important;
  height: 32px;
}

.stats.list>div>span {
  background-color: #fff !important;
  cursor: default !important;
}

.sb.pops>div>div .col:nth-child(1) {
  text-align: center;
  padding: 19px 12px;
}

.fa-volume-up, .fa-volume-off {
  margin-top: 3px;
}

.fa-volume-off {
  margin-left: -3px;
}

.green {
  color: green !important;
  font-size: 24px !important;
  text-align: center;
}

.red {
  color: red !important;
  font-size: 24px !important;
  text-align: center;
}

.fa-list-ul {
  font-size: 18px !important;
  margin-top: 7px;
}

.fa-user {
  margin-top: 3px;
}

.fa-play-circle {
  font-size: 28px !important;
  margin-top: 1px;
}

.stats .fa-play-circle {
  margin-top: -6px;
}

.fa-pause-circle {
  font-size: 28px !important;
  margin-top: 1px;
}

.stats .fa-pause-circle {
  margin-top: -6px;
}

.songs .col:nth-child(2) button {
  margin: -12px 12px -10px 0px !important;
}

.plaseImage, .ref img {
  height: 100px;
  background-color: grey;
  width: 100px;
  margin: 15px 30px 15px 0px;
}

.placeTable {
  width: 800px !important;
}

.places .col:nth-child(2) {
  margin-top: 49px;
}

.placeTitle {
  text-decoration: underline;
  cursor: pointer;
}

th.places {
  text-align: center !important;
}

.places td:nth-child(2), .placeTable th:nth-child(2) {
  padding-left: 0 !important;
  width: 300px !important;
}

.places td:nth-child(3), .placeTable th:nth-child(3) {
  white-space: normal !important;
  width: 150px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.places td:nth-child(4), .placeTable th:nth-child(4) {
  width: 150px !important;
}

.places td:nth-child(5), .placeTable th:nth-child(5) {
  width: 90px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.places td:nth-child(3), .places td:nth-child(4), .places td:nth-child(5) {
  text-align: center !important;
}

.playListsSlider {
  display: inline-block !important;
  width: 60% !important;
}

.playListsSlider>div {
  display: inline-block !important;
  margin: -4px 7px !important;
}

.prob {
  width: 38% !important;
  vertical-align: top;
  text-align: right !important;
  margin-right: 2% !important;
  right: 2px;
  font-size: 16px;
}

.playListsSlider, .prob {
  position: absolute !important;
  bottom: 4px !important;
}

.Paper {
  position: relative;
  vertical-align: top;
}

.paperButton {
  float: right !important;
  margin-top: -3px !important;
}

.paperTop {
  line-height: 48px;
  margin-left: 10px;
}

.timeTabs .col:nth-child(2n) .red {
  font-size: 26px !important;
  margin-top: 2px;
}

.addPlaylistDialog .col:nth-child(2) {
  width: calc(100% - 140px);
  margin-left: 20px;
  text-align: center;
}

.playlistTitle {
  cursor: pointer;
  width: calc(100% - 48px);
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  vertical-align: middle;
}

.payoutTabs .col {
  min-width: 200px;
  margin-top: 30px;
}

.payoutTabs>div:nth-child(1), .payoutTabs>div:nth-child(2) {
  margin: 0px -20px;
  width: calc(100% + 40px) !important;
}

.ref .col:nth-child(2) {
  margin-top: 45px;
}

.ref td:nth-child(2) {
  text-align: left !important;
}

.payoutTabs th, .payoutTabs td {
  text-align: center !important;
}

.week>div:nth-child(1) {
  margin: 5px 10px 5px 0px;
  display: inline-block;
}

.day, .h24 {
  display: inline-block;
  background-color: #eee;
  padding: 6px;
  font-size: 12px;
  border: 1px solid #999;
  border-left: none;
  cursor: pointer;
}

.day:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #999;
}

.day:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.day.active {
  background-color: #bbb;
}

.time {
  width: 19px !important;
  font-size: 12px;
}

.divider {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.h24 {
  border-left: 1px solid #999;
  border-radius: 5px;
  margin-right: 10px;
}

.time~button div {
  padding: 0px !important;
}

.time~button div span {
  font-weight: lighter !important;
  font-size: 18px !important;
}

.week.first .delWeek {
  display: none !important;
}

.week.first .plusWeek {
  display: inline-block !important;
}

.week .plusWeek {
  display: none !important;
}

.tooltip>div>div {
  left: 30px !important;
  top: 5px !important;
  background: none !important;
}

.tooltip>div>div span {
  font-size: 14px !important;
  padding: 1px 6px !important;
}

.tooltip>div>div>div {
  background-color: #999 !important;
}

.pwd {
  font-size: 22px !important;
  position: relative !important;
  left: -25px;
  cursor: pointer;
}

.staffList {
  max-width: 600px;
}

.staffList>div {
  border-bottom: 1px solid #ccc;
}

.staffList>div:last-child {
  border-bottom: 1px dashed #ccc;
}

.staffList>div:last-child .col {
  color: #ccc;
}

.staffList>div:last-child .col:nth-child(2) div {
  margin-bottom: -20px;
}

.staffList .fa {
  font-size: 18px !important;
}

.staffList .col {
  vertical-align: baseline;
}

.staffList .col:nth-child(1) {
  width: 180px;
}

.staffList .col:nth-child(1) div {
  max-width: 130px;
}

.staffList .col:nth-child(2) {
  width: 300px;
  text-align: center;
  margin-bottom: -7px;
}

.staffList input {
  max-width: 100px;
}

.timesAll {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 60px;
  background-color: #3a3e56;
  /*overflow: hidden;*/
  margin: 10px 30px 20px 30px;
}

.timesAll>div {
  display: inline-block;
  height: 100%;
  /*color: rgba(255,255,255,1);*/
  color: #3a3e56;
  line-height: 60px;
  text-align: center;
  position: relative;
  transition: .15s;
}

.timesAll>div>div {
  display: inline-block;
  text-overflow: clip;
  white-space: nowrap;
  overflow-x: hidden;
}

.timesAll>div:before {
  content: '1';
  position: absolute;
  top: 60px;
  display: inline-block;
  border-left: 2px dashed #666;
  color: rgba(0, 0, 0, 0);
  right: -10px;
  box-sizing: content-box;
  height: 49px;
}

.timesAll>div:first-child:after {
  content: '1';
  position: absolute;
  top: 60px;
  display: inline-block;
  border-left: 2px dashed #666;
  color: rgba(0, 0, 0, 0);
  left: -1px;
  box-sizing: content-box;
  height: 30px;
}

.timesAll>div:nth-child(2)::before {
  height: 30px;
}

.timesAll>div:nth-child(1) {
  background-color: #6ad198;
}

.timesAll>div:nth-child(2) {
  background-color: #fdeb17;
}

.timesAll>div:nth-child(3), .timesAll>div:nth-child(4) {
  background-color: #f8686f;
}

.timeLabels {
  position: relative;
  height: 150px;
  width: 150px;
  display: block;
}

.timeLabels>div {
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 50%;
  position: absolute;
  background-color: #dadef0;
  margin-left: -5px;
  margin-top: -5px;
  cursor: pointer;
  border: 1px solid #999cae;
  transition: background-color .2s;
}

.timeLabels>div.active {
  background-color: #93dbf0;
}

.timeLabels>div p{
  position: relative;
}

.timeLabels>div.active p{
  z-index: 10;
  background-color: #dadef0;
  display: inline-block;
  border-radius: 3px;
}

.Times {
  height: 170px;
  width: auto;
  margin: 20px!important;
  padding: 20px;
  display: inline-block;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
}

td {
  text-overflow: clip !important;
}

.comercials.ghost {
  color: #999 !important;
}

.comercials td:nth-child(2) {
  width: 70px !important;
  text-align: center !important;
}

.comercials td:nth-child(2) .col {
  line-height: 47px !important;
}

.comercials td:nth-child(2) .col div {
  width: 20px !important;
  margin: 0 2px;
}

.comercials td:nth-child(3) .col:nth-child(2)>div {
  width: 250px !important;
}

.comercials td div {
  vertical-align: top !important;
  white-space: nowrap !important;
}

.comercials td:nth-child(3) .col:nth-child(3) {
  margin-top: 14px !important;
}

th.comercials {
  text-align: center !important;
}

.toolbar {
  background-color: #f39c12 !important;
  margin-left: -20px;
  width: calc(100% + 40px);
}

.toolbar div, .medText {
  font-size: 14px !important;
}

.pageHeader {
  font-size: 24px;
}

.ownerName {
  width: 200px !important;
}

.places.active {
  background-color: #fdfbed;
}

.mono .places.active {
  background-color: #fff !important;
}

.duration {
  margin-top: 20px !important;
}

.albumArt {
  height: 100px;
  width: 100px;
  background-color: #999;
}

.editPL>.col {
  margin-right: 20px;
}

.refLink input {
  caret-color: rgba(0, 0, 0, 0);
  color: #00f !important;
  cursor: pointer !important;
}

::selection {
  background-color: rgba(0, 0, 0, 0) !important;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0) !important;
}

.hiddenLine:before {
  display: none !important;
}

.centred-auth-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: ". a a ." ". a a .";
}

.panel {
  border: 1px solid rgba(159, 156, 162, 0.59);
  border-top-color: rgba(159, 156, 162, 0.1);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .1);
}

.centred-auth-block>div {
  grid-area: a;
  align-self: center;
  justify-self: center;
}

.messages {
  width: 500px;
  background-color: #fff;
}

.messages >div {
  margin: 8px 5px;
  display: block;
}
.messages >button {
  width: 100%!important;
}

.mDate {
  font-size: 12px;
  color: #999;
}

.user {
  text-align: right;
}

.support {
  text-align: left;
}

.downloadDialog >div >div >div {
  width: 250px!important;
  text-align: center;
}

.downloadDialog >div >div {
  margin-left: calc(50% - 125px)!important;
}

.downloadDialog a {
  display: block!important;
}

.downloadDialog button {
  width: 200px!important;
}

.sorry {
  display: block!important;
}
